@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    header > h1 {
        font-size: 3em;
    }

    menu {
        display: block;
    }

    menu > ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 200px;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
} 